<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Sign up</h1>

    @if (registrationFailed) {
      <div id="registration-error" class="alert alert-danger">Try again with another login.</div>
    }

    <form (ngSubmit)="register()" [formGroup]="userForm">
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input id="login" class="form-control" formControlName="login" />
        @if (loginCtrl.dirty && loginCtrl.hasError('required')) {
          <div id="login-required-error" class="invalid-feedback">Login is required</div>
        } @else if (loginCtrl.dirty && loginCtrl.hasError('minlength')) {
          <div id="login-length-error" class="invalid-feedback">
            Your login should be at least {{ loginCtrl.getError('minlength').requiredLength }} characters
          </div>
        }
      </div>

      <div formGroupName="passwordForm">
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input id="password" class="form-control" type="password" formControlName="password" />
          @if (passwordCtrl.dirty && passwordCtrl.hasError('required')) {
            <div id="password-required-error" class="invalid-feedback">Password is required</div>
          }
        </div>
        <div class="mb-3">
          <label for="confirm" class="form-label">Confirm password</label>
          <input id="confirm" class="form-control" type="password" formControlName="confirmPassword" />
          @if (confirmPasswordCtrl.dirty && confirmPasswordCtrl.hasError('required')) {
            <div id="confirm-password-required-error" class="invalid-feedback">Password confirmation is required</div>
          }
        </div>
        @if (passwordGroup.dirty && passwordGroup.hasError('matchingError')) {
          <div id="password-matching-error" class="invalid-feedback">Your password does not match</div>
        }
      </div>

      <div class="mb-3">
        <label for="birth-year" class="form-label">Birth year</label>
        <pr-birth-year-input inputId="birth-year" formControlName="birthYear" />
        @if (birthYearCtrl.dirty && birthYearCtrl.hasError('required')) {
          <div id="birth-year-required-error" class="invalid-feedback">Birth year is required</div>
        } @else if (birthYearCtrl.dirty && birthYearCtrl.hasError('invalidYear')) {
          <div id="birth-year-invalid-error" class="invalid-feedback">This is not a valid year</div>
        }
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Let's Go!</button>
    </form>
  </div>
</div>
